.content {
  width: 768px;
  margin: 0 auto;
}
.title {
  text-align: center;
  margin-bottom: 80px;
}
.title > h2 {
  margin-bottom: 24px;
}
.listElement {
  border-top: 1px solid black;
}
.listElement:last-of-type {
  border-bottom: 1px solid black;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  padding: 0 16px;
}
.open {
  max-height: 500px;
  padding-bottom: 24px;
}
.downChevron {
  transition: transform 0.3s ease-in-out;
}
.rotate {
  transform: rotate(180deg);
}
.contactContent {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  text-align: center;
}
.contactContent > h4 {
  color: var(--onyx);
}
