.button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;
  width: fit-content;
  white-space: nowrap;

  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  color: var(--white);
  border-radius: 16px;
  border: 0px solid #653fcc;
  outline: 3px solid transparent;
  cursor: pointer;

  background: linear-gradient(75deg, #d93fd3 45%, #7247e9 65%);
  background-size: 500%;
  background-position: 50%;
  transition: outline-color 0.25s ease-in-out, background-position 0.5s ease-in-out;
}
.button:focus,
.button:focus-visible,
.button:hover {
  outline: 3px solid #653fcc;
}

.button:hover {
  background-position: -40%;
}

@media screen and (max-width: 768px) {
  .button {
    padding: 12px 20px;
  }
}
@media screen and (max-width: 480px) {
  .button {
    padding: 8px 10px;
    font-size: 0.75rem;
    border-radius: 8px;
  }
}
