.heroSection {
  background-color: var(--blue);
}
.mainContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 36px;

  color: var(--white);

  max-width: 653px;
  padding: 40px 0;
  margin-right: -126px;
  z-index: 1;
}
.subHeader {
  max-width: 436px;
}
.trialLesson {
  width: fit-content;
}
.rightSide {
  position: relative;
  z-index: 0;
}
.svgEuropeMap {
  max-width: 100%;
  height: auto;
}
