.heroSection {
  background-color: var(--blue);
  padding: 40px 80px;
}
.mainContainer {
  max-width: 1280px;
  display: flex;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 56px;
  color: var(--white);
  margin-right: -126px;
  max-width: 900px;
}
.rightSide {
  background-image: url('../../assets/europeMap.svg');
  display: block; /* Zmieniono z inline na inline-block */
  position: relative;
  width: 734px;
  height: 456px;
  aspect-ratio: 734 / 456;
  background-size: cover; /* Dodano background-size */
  background-position: center; /* Dodano background-position */
}
.subHeader {
  max-width: 436px;
  color: var(--text-white);
}
.trialLesson {
  filter: drop-shadow(2px 2px 6px rgba(110, 0, 184, 0.7));
}
.svgEuropeMap {
  max-width: 100%;
  min-width: 734px;
  height: auto;
}
@media screen and (max-width: 1280px) {
  .mainContainer {
    display: inherit;
  }
  .leftSide {
    margin-right: 0;
  }
  .rightSide {
    margin-right: 0;
    margin-left: auto;
    margin-top: calc((-12vw / 0.1) + 1150px);
  }
  .svgEuropeMap {
  }
}
@media screen and (max-width: 1024px) {
  .rightSide {
    display: none;
  }
}
