.content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.heading {
  flex: 1;
}
.desc {
  flex: 1;
}
.transButton {
  margin-top: 32px;
  border: 0;
  padding: 2px;
  background: var(--button-background);
}
.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 12px 12px 24px;
  background-color: var(--white);
  transition: background-color 350ms, color 350ms;
  cursor: pointer;
}
.buttonContent:hover {
  color: var(--white);
  background-color: transparent;
}
.chevron path {
  transition: stroke 4s;
}
.buttonContent:hover .chevron path {
  stroke: white;
}
.chevron {
  rotate: 0deg;
  transition: rotate 350ms ease-in-out;
}
.chevron.show {
  rotate: 180deg;
}
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 32px;
  }
}
@media screen and (max-width: 480px) {
  .desc {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
