.cloud {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  opacity: 0;
  animation: showup 1s both;
}
.message {
  font-weight: 700;
  font-size: 14px;
  color: var(--onyx);
}
.triangle {
  position: absolute;
  bottom: -16px;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
