.header2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 48px;

  /* line-height: 58px; */
  line-height: 120%;
  color: #272742;
}
.header3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 36px;

  /* line-height: 43px; */
  line-height: 120%;
  color: #272742;
}
.header3_5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;

  /* line-height: 42px; */
  line-height: 130%;
  text-align: center;
  color: #fff;
}
.header4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;

  /* line-height: 28px; */
  line-height: 140%;
  color: #272742;

  margin: 24px 0;
}
.header6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;

  /* line-height: 28px; */
  line-height: 140%;
  color: #272742;
}
.textMedium {
  font-size: 18px;
  color: #272742;
}
.textRegular {
  font-size: 16px;
  color: #272742;
}
.textLinks {
  font-size: 16px;
  color: #6f46b7;
}
.tagline {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #272742;
}
.taglineSmall {
  font-weight: 700;
  font-size: 12px;
  color: #272742;
}
.semiBold {
  font-weight: 600;
  font-size: 18px;
  color: #272742;
  margin: 22.5px 0;
}
@media screen and (max-width: 768px) {
  .header2 {
    font-size: 36px;
    line-height: 120%;
  }
  .header3 {
    font-size: 24px;
    line-height: 120%;
  }
  .header3_5 {
    font-size: 24px;
    line-height: 130%;
  }
  .header4 {
    font-size: 16px;
    line-height: 140%;
  }
  .header6 {
    font-size: 16px;
    line-height: 140%;
  }
  .textMedium {
    font-size: 14px;
  }
  .textRegular {
    font-size: 14px;
  }
  .textLinks {
    font-size: 14px;
  }
  .tagline {
    font-size: 18px;
  }
  .taglineSmall {
    font-size: 10px;
  }
  .semiBold {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .header2 {
    font-size: 24px;
    line-height: 120%;
  }
  .header3 {
    font-size: 20px;
    line-height: 120%;
  }
  .header3_5 {
    font-size: 20px;
    line-height: 130%;
  }
  .header4 {
    margin: 12px 0;
    font-size: 16px;
    line-height: 140%;
  }
  .header6 {
    font-size: 14px;
    line-height: 140%;
  }
  .textMedium {
    font-size: 12px;
  }
  .textRegular {
    font-size: 12px;
  }
  .textLinks {
    font-size: 12px;
  }
  .tagline {
    font-size: 16px;
  }
  .taglineSmall {
    font-size: 8px;
  }
  .semiBold {
    margin: 12px 0;
    font-size: 14px;
  }
}
