.buttonWrapper {
  position: relative;
  display: inline-block;
  padding: 3px;
  border-radius: 16px;
  background: linear-gradient(90deg, #d93fd3 0%, #7247e9 100%);
}

.loginButton {
  padding: 16px 24px;
  background: white;
  color: var(--onyx);
  font-weight: 600;
  font-size: 1rem;
  border-radius: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

.loginButton:hover,
.buttonWrapper:hover {
  background: #7247e9;
  color: white;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 560px) {
  .loginContainer {
    gap: 8px;
  }

  .buttonWrapper {
    padding: 2px;
    border-radius: 8px;
  }
  .loginButton {
    font-size: 14px;
    padding: 14px 20px;
    border-radius: 6px;
  }
}
@media screen and (max-width: 420px) {
  .buttonWrapper {
    display: none;
  }
}
