.content {
  display: flex;
  gap: 80px;
  width: 100%;
}

.titleContent > h4 {
  margin-bottom: 16px;
}
.titleContent > h2 {
  margin-bottom: 24px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.item {
  display: flex;
  gap: 16px;
}
.item > span > h6 {
  margin-bottom: 8px;
}
.or {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 40px;
  }
  .list {
    gap: 16px;
  }
  .item {
    gap: 8px;
  }
}
