.header {
  background-color: var(--white);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.navLinks {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navLogo {
  display: block;
  width: 100%;
  height: auto;
  min-width: 90px;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  text-wrap: nowrap;

  list-style: none;
  padding: 0;
  margin: 0;
}

.navList > li {
  padding: 0;
  margin: 0;
}

.navList > li > a {
  transition: color 0.2s ease-in-out;
}

.navList > li > a:hover {
  color: var(--purple);
}

.studentButton {
  gap: 10px;
  padding: 12px 24px;
  min-width: 268px;
  min-height: 48px;
}
