.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}
.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.navLinks {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navLogo {
  display: inline;
  width: 90px;
  height: 90px;
  min-width: 90px;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  text-wrap: nowrap;

  list-style: none;
  padding: 0;
  margin: 0;
}

.navList > li {
  padding: 0;
  margin: 0;
}

.navList > li > a {
  transition: color 0.2s ease-in-out;
}

.navList > li > a:hover {
  color: var(--purple);
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0 40px;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding: 0 10px;
  }
  .navList {
    display: none;
  }
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 50%;
  }
  .hamburger:hover,
  .hamburger:focus-visible,
  .hamburger:focus-within,
  .hamburger:focus {
    cursor: pointer;
    background-color: lightgray;
  }
}

.no-scroll {
  overflow: hidden;
}
