.bg {
  background-color: var(--blue);
  max-height: 0;
  transition: max-height 350ms ease-in-out;
  overflow: hidden;
}
.content {
  display: flex;
  gap: 80px;
  align-items: center;
}

.textBox {
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
}
.textBox h3,
.textBox p {
  color: var(--white-text);
}

.show {
  max-height: 760px;
}
.img {
  height: auto;
}
@media screen and (max-width: 1080px) {
  .content {
    gap: 40px;
  }
  .textBox {
    gap: 16px;
  }
  .img {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .img {
    width: 50%;
  }

  .content {
    flex-direction: column;
    gap: 40px;
  }
  .textBox {
    gap: 16px;
  }
}
