.section {
  display: flex;
  gap: 80px;
}
.section > h2 {
  flex: 1;
}
.section > div {
  flex: 1;
}
@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
    gap: 40px;
  }
}
