.board {
  padding: 18px;
  background-color: var(--white);
  border-radius: 24px;
  height: 120px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.border {
  height: 100%;
  padding: 3px;
  border-radius: 14px;
  background-image: var(--button-background);
}
.insideBoard {
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 12px;
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerSpan {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;

  /* line-height: 36px; */
  line-height: 1.5;
  color: #272742;
}
.star {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 768px) {
  .board {
    height: auto;
    width: 400px;
    padding: 12px;
  }
  .insideBoard {
    flex-direction: column;
    padding: 0 12px;
  }
  .element {
    margin: 12px 0;
    font-size: 16px;
  }
  .star {
    gap: 4px;
    align-items: baseline;
  }
  .star img {
    width: 20px;
    height: 20px;
  }
  .headerSpan {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .board {
    width: 100%;
  }
}
