@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'modern-normalize/modern-normalize.css';

:root {
  font-family: 'Poppins', Inter, system-ui, 'Avenir', Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #272742;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --button-background: linear-gradient(90deg, #d93fd3 0%, #7247e9 100%);
  --yellow-bg: #ffed8e;
  --pink: #d93fd3;
  --cloud-blue: #8cbaff;
  --blue: #6888eb;
  --darker-blue: #4669e3;
  --purple: #6f46b7;
  --purple-darker: #5b3f8d;
  --purple-lighter: #7e4fce;
  --lands: #ffed8b;
  --walls: #ffd700;
  --borders: #ffc446;
  --yellow: #ffc446;
  --cloud: #fafcfe;
  --dorian: #ecf1f4;
  --evergreen: #31d0aa;
  --light-slate: #8c8ca1;
  --slate: #4a4a68;
  --onyx: #272742;
  --light-black: #1c1c1c;
  --black: #000;
  --grey: #e4e2df;
  --white: #fff;
  --white-text: #fff;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: var(--white);
  margin: 0;
}
h2,
h3,
h4,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 80px;
}

.no-scroll {
  overflow: hidden;
  scroll-behavior: unset;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 60px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 40px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding: 12px;
  }
}
