.secLang {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.headingContent {
  max-width: 768px;
  text-align: center;
  margin: auto;
}

.headingContent > h2 {
  margin-bottom: 24px;
}

.cardList {
  display: flex;
  gap: 48px;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;

  transition: all 0.3s ease;
}

.cardList::-webkit-scrollbar {
  display: none;
}

.cardList > li {
  border-radius: 36px 0;
  padding: 32px;

  display: flex;
  min-width: 394px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;

  text-align: center;

  scroll-snap-align: center;
  transition: transform 0.3s ease;
  cursor: grab;
}
.cardList > li:first-child {
  background-color: var(--blue);
}
.cardList > li:nth-child(2) {
  background-color: var(--purple);
}
.cardList > li:last-child {
  background-color: var(--yellow);
}
.cardList > li > p {
  color: white;
}

.categoryList {
  background-color: var(--blue);
  padding: 36px;
  color: white;

  position: relative;
  display: flex;
  gap: 48px;

  overflow-x: scroll;
}

.categoryItem {
  display: flex;
  flex: 1;
  min-width: 370px;
  flex-direction: column;
  gap: 48px;
}

.categoryHeader {
  background-color: var(--darker-blue);
  padding: 16px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.categoryContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  padding: 32px 24px;
  background-color: var(--cloud-blue);
}
/*
    .pointerPolygon {
  position: absolute;
  top: -44px;
  left: 160px;
}*/

@media screen and (max-width: 480px) {
  .secLang {
    gap: 40px;
  }
  .cardList {
    gap: 18px;
    width: 100%;
  }
  .cardList > li {
    min-width: 296px;
    padding: 24px;
    gap: 16px;
  }

  .categoryList {
    gap: 18px;
    width: 100%;
    padding: 0px;
    background-color: transparent;
  }

  .categoryItem {
    min-width: 296px;
    gap: 24px;
  }
  .categoryContent {
    padding: 16px;
    gap: 12px;
  }
  /*
  .pointerPolygon {
    left: 100px;
  }
   */
}
