.secLang {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.headingContent {
  max-width: 768px;
  text-align: center;
}

.headingContent > h2 {
  margin-bottom: 24px;
}

.cardList {
  display: flex;
  gap: 48px;
}

.cardList > li {
  background-color: var(--blue);
  border-radius: 36px 0;
  padding: 28px 16px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  height: auto;
}

.cardList > li > p {
  color: white;
}

@media screen and (max-width: 1024px) {
  .cardList {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .secLang {
    gap: 40px;
  }
  .cardList {
    gap: 24px;
  }
}
